<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Para a visualização de todos os usuários-->
    <div>
        <form action="http://localhost:3000/usuario/" method="get">
    
        </form>
    </div>

    <!--Para excluir um usuário-->
    <div>
        <form action="http://localhost:3000/usuario/email" method="delete">    
            <label for="email">Digite o email do usuário para excluí-lo:</label><br>
            <input type="text" id="email" name="email"><br>

            <input type="submit" value="Excluir usuário">
    
        </form>
    </div>

    <!--Para alterar um usuário-->

</body>
</html>