<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Cadastro de usuário</h1>
        <form action="http://localhost:3000/user/create_telacadastro" method="post">
            <label for="nome">Nome de usuário:</label><br>
            <input type="text" id="nome" name="nome" required><br>
    
            <label for="dataNascimento">Data de nascimento:</label><br>
            <input type="text" id="dataNascimento" name="dataNascimento" required><br>
    
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" required><br>
    
            <label for="senha">Senha:</label><br>
            <input type="text" id="senha" name="senha" required><br>
            
            <label for="senhaConfirmacao">Confirmar senha:</label><br>
            <input type="text" id="senhaConfirmacao" name="senhaConfirmacao" required><br><br>
    
            <input type="submit" value="Realizar cadastro">
    
        </form>
    </div>
     
</body>
</html>