<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>CRUD Usuário</title>
    </head>
    <style type="text/css">
        .mensagemAtencao {
            color: red;
            font-size: 20px;
        }

        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
    <body>
        <nav>
            <ul class="navbar">
                <li><a href="http://localhost:3000/user/"><button>Crud usuário</button></a></li>
                <li><a href="http://localhost:3000/livro/"><button>Livros</button></a></li>
                <li><a href="http://localhost:3000/exemplar"><button>Exemplar</button></a></li>
                <li><a href="http://localhost:3000/editora"><button>Editoras</button></a></li>
                <li><a href="http://localhost:3000/reserva"><button>Reservas</button></a></li>
              </ul>
        </nav>

        <div class="">
            <h2>Tabela de todas editoras</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID Editora</th>
                        <th>Nome editora</th>
                        <th>Cidade sede</th>
                    </tr>
                    </thead>
                    
                <tbody>
                    <% table.forEach((row) => { %>
                        <tr>
                            <td><%= row.ideditora %></td>
                            <td><%= row.nomeEditora %></td>
                            <td><%= row.cidadeSede %></td>
                        </tr>
                    <% }); %>
                    <tr>
                        <td colspan="4">
                            <a href="http://localhost:3000/editora/TelaCadastroEditora/">Cadastrar editora</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>

    </body>
</html>