<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./style.css">
        <title>Cadastro livro</title>
    </head>
    <!--css externo nao esta funcionando-->
    <style type="text/css">
        .mensagemAtencao {
            color: red;
            font-size: 20px;
        }

        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
    <body>
        <nav>
            <ul class="navbar">
                <li><a href="http://localhost:3000/user/"><button>Crud usuário</button></a></li>
                <li><a href="http://localhost:3000/livro/"><button>Livros</button></a></li>
                <li><a href="http://localhost:3000/exemplar"><button>Exemplar</button></a></li>
                <li><a href="http://localhost:3000/editora"><button>Editoras</button></a></li>
                <li><a href="http://localhost:3000/reserva"><button>Reservas</button></a></li>
              </ul>
        </nav>

        <div>
            <form action="http://localhost:3000/reserva" method="POST">
                <label>Email do usuario:</label><br>
                <input type="email" id="email" name="email"><br><br>
                <label>Nome do livro</label><br>
                <input type="text" id="nomeLivro" name="nomeLivro"><br><br>
                <label>Data do Emprestimo</label><br>
                <input type="date" id="dataemprestimo" name="dataemprestimo"><br><br>
                <label>Data para Devolucao</label><br>
                <input type="date" id="dataesperada" name="dataesperada"><br><br>
                <input type="submit" value="Cadastrar Reserva">
            </form>
        </div>
    </body>
</html>